<a href="https://colab.research.google.com/github/tjwei/NDHU_AM1130/blob/master/sklearn_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://github.com/tjwei/NDHU_AM1130/raw/master/all.zip

In [0]:
!ls

In [0]:
!unzip all.zip

In [0]:
with open('train.csv') as f:
  for l in f:
    print(l)

In [0]:
import pandas as pd

In [0]:
train_data = pd.read_csv('train.csv')

In [18]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [0]:
import numpy as np

In [0]:
train_y = train_data.Survived
train_y = np.array(train_y)
train_y

In [0]:
x1 = np.float64(train_data.Sex == 'male')

In [0]:
x2 = np.float64(train_data.Age)

In [0]:
x2[np.isnan(x2)]=-1

In [24]:
train_X = np.array([x1, x2]).T
train_X.shape

(891, 2)

In [27]:
train_X

array([[ 1., 22.],
       [ 0., 38.],
       [ 0., 26.],
       ...,
       [ 0., -1.],
       [ 1., 26.],
       [ 1., 32.]])

In [26]:
train_y.shape

(891,)

In [0]:
from sklearn.svm import SVC

In [0]:
clf = SVC()

In [33]:
clf.fit(train_X, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [37]:
(clf.predict(train_X) == train_y).mean()

0.8080808080808081

In [38]:
train_y.mean()

0.3838383838383838

In [69]:
from sklearn.tree import DecisionTreeClassifier
tree_clf = DecisionTreeClassifier()
tree_clf.fit(train_X, train_y)
(tree_clf.predict(train_X) == train_y).mean()

0.819304152637486

In [68]:
from sklearn.neural_network import MLPClassifier
mlp_clf = MLPClassifier()
mlp_clf.fit(train_X, train_y)
(mlp_clf.predict(train_X) == train_y).mean()

0.7957351290684624

In [67]:
from sklearn.linear_model import LogisticRegression
log_clf = LogisticRegression()
log_clf.fit(train_X, train_y)
(log_clf.predict(train_X) == train_y).mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7867564534231201

In [0]:
x3 = train_data.Fare
x3 = np.float64(x3)
train_X = np.array([x1, x2, x3]).T

In [76]:
clf = SVC()
clf.fit(train_X, train_y)
(clf.predict(train_X) == train_y).mean()

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.9113355780022446

In [77]:
from sklearn.tree import DecisionTreeClassifier
tree_clf = DecisionTreeClassifier()
tree_clf.fit(train_X, train_y)
(tree_clf.predict(train_X) == train_y).mean()

0.9797979797979798

In [82]:
from sklearn.neural_network import MLPClassifier
mlp_clf = MLPClassifier(300)
mlp_clf.fit(train_X, train_y)
(mlp_clf.predict(train_X) == train_y).mean()

0.77665544332211

In [79]:
from sklearn.linear_model import LogisticRegression
log_clf = LogisticRegression()
log_clf.fit(train_X, train_y)
(log_clf.predict(train_X) == train_y).mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7822671156004489